.mainButton {
    border-radius: 4px;
    background: linear-gradient(180deg, #FFAB39 0%, #F07200 100%);
    box-shadow: none !important;
    margin: 15px 15px 0 auto;
    padding: 8px 20px;
    display: block;
    text-transform: none !important;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 1px;
}

.mainButton-span {
    font-size: 38px;
    line-height: 0;
    font-weight: 100;
    margin-right: 10px;
}

.headingh2 {
    color: #6C205F;
    font-size: 24px;
    font-weight: 100;
    margin-top: 0;
}

.MuiFormControl-marginNormal {
    margin: 0 !important;
}

.MuiTextField-root {
    width: 100%;
}

.MuiFormLabel-asterisk {
    display: none;
}

label.Mui-focused {
    color: #6C205F !important;
}

.Mui-focused fieldset {
    border-color: #6C205F !important;
}

.MuiInput-formControl {
    margin-top: 0 !important;
}

.MuiSelect-selectMenu {
    border: 1px solid #ccc !important;
    padding: 17px 0 17px 13px !important;
    border-radius: 3px !important;
}

.MuiInput-underline:before {
    border-bottom: none !important;
}

.MuiInputLabel-filled.MuiInputLabel-shrink {
    transform: translate(12px, -6px) scale(0.75) !important;
    padding: 0 3px;
    background-color: #fff;
}